
nav{
    width: 150px;
    height: auto;
    float: left;
    display: inline;
    padding: 0;
    margin: 0 10px 0 0;
}
nav ul li a {
    text-decoration: none;
}

.menu-btn {
    width: 100%;
    position: relative;
    display: block;
    float: left;
    color: #fff;
    font-size: 21px;
    overflow: hidden;
    padding: 10px 20px;
    transition: box-shadow.3s ease-in-out;
    text-decoration: none;
    text-align: left;
}

li a {
    position: relative;
    color: #fff;
    font-family: sans-serif;
}

/* These are the two backgrounds, absolutely positioned to cover. */
.menu-btn::before,
.menu-btn::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to right, rgb(34, 45, 66), #1d2637);
    z-index: -1;
}

.menu-btn::after {
    opacity: 0;
    background-image: linear-gradient(to right,#192f5c, #5d61b6);
    transition: opacity.3s ease-in-out;
}

/* On hover, transtiion the shadow of the anchor, and fade in the after element to show the new background. */
.menu-btn:hover {
    box-shadow: 2px 2px 4px 4px rgb(66, 88, 138);
}
.menu-btn:hover::after {
    opacity: 1;
}